[submodule "www/js/contrib/CoreMVC"]
	path = www/js/contrib/CoreMVC
	url = https://github.com/phish108/CoreMVC
[submodule "www/js/contrib/TemplateFactory"]
	path = www/js/contrib/TemplateFactory
	url = https://github.com/phish108/TemplateFactory
[submodule "www/js/contrib/jstap"]
	path = www/js/contrib/jstap
	url = https://github.com/phish108/jstap.git
[submodule "www/js/contrib/i18n"]
	path = www/js/contrib/i18n
	url = https://github.com/Maroben/jquery-i18n-properties.git
