<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.ethz.isn.moblercards" version="3.0.0">
    <name>Mobler Cards</name>
    <description>
A simple training and practicing app that connects to your LMS
    </description>
    <author email="e-learning@sipo.gess.ethz.ch" href="http://www.isn.ethz.ch">
        ISN/CSS?ETH Zürich
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
