<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mobinaut.moblercards" version="3.0.1">
    <name>Mobler Cards</name>
    <description>
A simple training and practicing app that connects to your LMS
    </description>
    <author email="app@mobinaut.io" href="http://www.mobinaut.io">
        ISN/CSS?ETH Zürich
    </author>
    <content src="index.html"/>
    <access origin="*"/>
    <preference name="DisallowOverscroll" value="true"/>

    <feature name="Network Information">
        <param name="id" value="org.apache.cordova.network-information"/>
    </feature>
    <feature name="Device">
        <param name="id" value="org.apache.cordova.device"/>
    </feature>
    <feature name="File">
        <param name="id" value="org.apache.cordova.file"/>
    </feature>
</widget>
