<?xml version='1.0' encoding='utf-8'?>
<widget id="org.mobinaut.moblercards" version="3.1.04">
    <name>Mobler</name>
    <description>
A simple training and practicing app that connects to your LMS
    </description>
    <author email="app@mobinaut.io" href="http://www.mobinaut.io">
        mobinaut.io
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="15" />
        <icon density="ldpi" src="icons/ldpi/icon.png" />
        <icon density="mdpi" src="icons/mdpi/icon.png" />
        <icon density="hdpi" src="icons/hdpi/icon.png" />
        <icon density="xhdpi" src="icons/xhdpi/icon.png" />
        <icon density="xxhdpi" src="icons/xxhdpi/icon.png" />
        <icon density="xxxhdpi" src="icons/xxxhdpi/icon.png" />
    </platform>
    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="~4.5.5" />
    <plugin name="cordova-plugin-device" spec="^2.0.2" />
    <plugin name="cordova-plugin-file" spec="^6.0.1" />
    <plugin name="cordova-plugin-network-information" spec="^2.0.1" />
</widget>
