/*********************** General ***********************/
/* FIXME: Remove all pt sizes */
body
{
    width: device-width;
    height: device-height;
    overflow: hidden;

    color: #646464;
    /* color: #003b54; */
    font-family: "SF UI Text", Roboto, HelveticaNeue-Light, HelveticaNeue, Arial, sans-serif;
    font-size: 19px;
    margin: 0;
    padding: 0;
}

div,
span,
p
{
    box-sizing: border-box;
}

div,
span,
.untouchable {
    pointer-events: none;
}

li,
.touchable,
.screen
{
    pointer-events: all;
}

/* disable text selection for all UI */
*
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

/* enable text selection for input fields */
input
{
    -webkit-touch-callout: default;
    -webkit-user-select: text;
}
/**
 * HELPER CLASSES
 */
.fixed
{
    position: fixed;
}

.static
{
    position: static;
}

.foreground
{
    z-index: 10;
}

.background
{
    z-index: 0;
    overflow: hidden;
}

::-webkit-scrollbar,
.hidden
{
    display: none !important;
}

.clear
{
    clear: both;
}

.bold
{
    font-weight: bold;
}

.textSmall
{
    font-size: 15px;
    font-style: italic;
}

/* ************* Animations ************* */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

/*********************** Header ***********************/
.headerbox
{
    display: table;
    table-layout: fixed; /* avoid grid violations */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    line-height: 55px;
    color: white;
    background: -webkit-linear-gradient(#008cc7, #0072a2);
    background: linear-gradient(#008cc7, #0072a2);
}

.titleicon
{
    display: table-cell;
    width: 58px;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
}

.headercontent
{
    display: table-cell;
    font-size: 26px;
    padding-top: 5px;
    line-height: 50px;
    height: 50px;
    vertical-align: middle;
    overflow: hidden;

    /* restrict languages to the grid */
    text-overflow: ellipsis;
    white-space: nowrap;
}

.closeicon
{
    display: table-cell;
    width: 63px;
    padding-top: 5px;
    text-align: center;
    font-size: 30px;
    border-left: 1px solid white;
}

/****************** Footer ******************************/
.footerbox
{
    display: table;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 49px;
    line-height: 49px;
    text-align: center;
    color: white;
    font-size: 40px;
    background: -webkit-linear-gradient(#999999, #6a6a6a);
    background: linear-gradient(#999999, #6a6a6a);
}

.footerleft
{
    display: table-cell;
    text-align: center;
    padding-top: 5px;
}

.footerlabel
{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 5px;
}

.footerright
{
    display: table-cell;
    width: 63px;
    text-align: center;
    padding-top: 5px;
    border-left: 1px solid white;
}

/*********************** Content ***********************/
.contentbox
{
    display: block;
    min-height: 100vh;

    box-sizing: border-box;
    padding-top: 62px;
    width: 100%;
}

.contentbox.withfooter
{
    padding-bottom: 62px;
}

/*********************** List templates *************************/
.listbox
{
    display: table;
    height: 50px;
    line-height: 150%;
    padding: 5px 0;
    width: 100%;
    z-index: 1;
}

.listdash
{
    display: table-cell;
    width: 34px;
    padding-top: 3px;
    text-align: center;
    vertical-align: middle;
    font-size: 22px;
}

.listlabel
{
    display: table-cell;
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: middle;
    font-size: 19px;
}

.listimage
{
    display: table-cell;
    width: 62px;
    padding-left: 5px;
    text-align: center;
    vertical-align: middle;
    font-size: 35px;
}

.selected .separator
{
    border-left-color: #ffffff;
}

.separator
{
    border-left: 1px solid #00283D;
}

.separator2
{
    padding-left: 14px;
}
input
{
    height: 59px;
    line-height: 59px;
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 20px;
}
input.listlabel
{
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

/*********************** Views ***********************/
.screen
{
    display: none;
}

.screen.active
{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

/*********************** SplashView ***********************/
#splashbox
{
    height: 100vh;
    line-height: 100vh;
    text-align: center;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: url(../img/LaunchImage_old@2x.png);
    background-size: contain;
}

/****************** Landing View ******************************/
#landingtitle
{
    text-align: center;
    padding-top: 5px;
    color: #ffffff;
}

/****************** Course View ******************************/
.loadingrotation
{
    -webkit-animation: spin 4s infinite linear;
}

.loadingrotation span
{
    vertical-align: middle;
    text-align: center;
}

/****************** About View ******************************/
/* FIXME: make a class */
#abouttitlelist
{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/****************** Question View ******************************/
/*
#questiontext
{
    font-size: 20px;
}
*/

/* *************** Colors and Gradients START **************** */
.white
{
    color: #ffffff;
}

.green
{
    color: #33CC33;
}
.red.plain
{
    color: #bf1010;
    text-shadow: none;
    color: #bf1010;
}

.yellow
{
    color: #F0C000;
}

.blue
{
    color: #008CC7;
}
.glow2.red,
.red
{
    text-shadow: 0 0 4px #DF1010;
    color: #bf1010;
}
.lightgrey
{
    color: #BEBEBE;
}

.glowRed
{
    text-shadow: -1px -1px 1px #682627, 1px 1px 2px #C04A4A;
}

.dashGrey
{
    color: #838383;
    text-shadow: 1px 1px 3px grey;
}
.gradient1
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dbdbdb), color-stop(100%, #ffffff));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient(#dcdcdc, #ffffff);
    /* Safari 5.1+, Chrome 10+ */

    /* IE6 & IE7 */
    background: -webkit-linear-gradient(#dbdbdb, #ffffff);
    background: linear-gradient(#dbdbdb, #ffffff);
    /* the standard */
}

/*selected item before being selected*/
.listbox.gradient,
.gradient2
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bebebe));
    /* Safari 4+, Chrome 2+ */
    background: -webkit-linear-gradient(#dddddd, #bebebe);
    /* Safari 5.1+, Chrome 10+ */
    background: linear-gradient(#dddddd, #bebebe);
    /* the standard */
}

.listbox.gradient.selected,
.gradientSelected
{
    color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e5e5e), color-stop(100%, #8c8c8c));
    z-index: 10;
}

.glow2
{
    text-shadow: 0 0 4px  #59fa56;
    color:#33CC33;
}

.glowNone
{
    text-shadow: 0 -2px 3px #1b621c, 1px 0 1px #1b621c, -1px 0 1px #1b621c;
    background-color: transparent;
    -webkit-text-stroke-color: #2da42c;
    -webkit-text-stroke-width: 1px;
    -webkit-text-fill-color: #21ae24;
    padding-left: 15px;
}
.textShadow
{
    text-shadow: 0 1px 1px #898989;
}

.lightShadow
{
    text-shadow: 0 1px 1px #c9c9c9;
}

/* Colors and Gradients END*/

/** OLD CSS **/
/**
 * FIXME remove the old css
 */

/*********************** Header old ***********************/
.loginMessage
{
    display: none;
    border: 1px solid white;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.gradientMessages
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #454545), color-stop(100%, #8b8b8b));
    background: -webkit-linear-gradient(#454545, #8b8b8b);
    background: linear-gradient(#454545, #8b8b8b);
    color: white;
}

.content
{
    margin-top: 55px;
    width: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: absolute;
    background-position: center bottom;
}

ul
{
    border-top: solid 0 red;
    /*in order not to have a white line at the beginning in course list view*/
    border-left: solid 1px white;
    border-right: solid 1px white;
    border-bottom: solid 1px white;
    /*background-color: #ddd;
	color:#696969;*/
    list-style-type: none;
    text-align: left;
    padding: 0;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}
.borderRemoval
{
    border-bottom: none;
}

li
{
    list-style-type: none;
    list-style-position: inside;
    font-style: normal;
    border-bottom: 1px solid white;
    text-align: left;
    padding: 0;
    margin: 0;
    z-index: 1;
}

/*********************** Login View ***********************/
::-webkit-input-placeholder,
*[placeholder]
{
    color: #21576e;
}


.ticked
{
    padding: 0;
    margin: 0;
    background-color: #29ABE2;
    color: white;
}
.currentSortedItem
{
    position: fixed;
    width: 100%;
}

.placeholder
{
    height: 1.5em;
    line-height: 1.2em;
    color: #ccc;
    background: #ccc;
}

/*********************** Answer View ***********************/
.text
{
    padding: 15px;
    padding-left: 10px;
    padding-right: 0;
}

/* FIXME: this should be localized text and use default messaging classes */
#dataErrorMessage
{
    display: none;
}

.inactive
{
    display: none;
}

/*********************** Statistics View ***********************/
.statsvalue
{
    font-size: 14px;
}

.green
{
    color: #33CC33;
}

/*********************** Settings View ***********************/
.settingsLi
{
    padding-bottom: 5px;
    padding-left: 7px;
}

.settingslabel
{
    line-height: 100%;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    color: #0A0032;
    display: inline-block;
}
.settingsitem
{
    padding: 0 10px;
}

.settingsDeactivate
{
    font-size: 14px;
    color: white;
    display: inline-block;
    width: 100%;
    margin-bottom: 3px;
}


/******NEW CLASSES********/
.selectWidget
{
    padding-left: 0;
    border-right: 1px solid white;
    border-left: 1px solid white;
    margin-right: 0;
    height: 51px;
}

.selectWidget2
{
    border-right: 1px solid white;
    border-left: 1px solid white;
    background-color: #c6c6c6;
    margin-right: 0;
    height: 80px;
}

.lmsListItem
{
    border-left: 1px solid white;
    height: 65px;
    text-align: left;
    clear: both;
}

.labelContainerOld
{
    float: left;
    padding-top: 15px;
    padding-left: 0;
}

.lmslabel
{
    font-weight: bold;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#loginLmsLabel
{
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.message
{
    background-color: #a52a2a;
    color: white;
}
.lmsmessage
{
    display: none;
    color: white;
    padding: 10px;
}

#lmsregistrationwaitingmessage
{
    display: none;
    margin-top: -70px;
    margin-right: 50px;
    margin-left: 50px;
    padding: 10px;
}

.lineContainer
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.lineContainerCourses
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 11px;
}

.lmsIcon
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin-right: 5px;
}

.imageContainerOld
{
    height: 47px;
    line-height: 47px;
    width: 47px;
    padding-top: 4px;
}

.imageoutline1
{
    height: 39px;
    line-height: 39px;
    width: 37px;
    border-left: solid 1px #8b8b8b;
    border-top: solid 1px #8b8b8b;
}

.imageoutline2
{
    height: 38px;
    line-height: 38px;
    width: 36px;
    /*border-left: solid 1px #b8b8b8;*/
    border-left: solid 1px #c1c1c1;
    /*border-top: solid 1px #b8b8b8;*/
    border-top: solid 1px #c1c1c1;
}

.selectItemContainer
{
    /*display:inline-block;*/
    /*border: solid 0px blue;*/
    height: 47px;
    line-height: 47px;
    width: 34px;
    /*it was 34*/
    text-align: center;
    padding-top: 5px;
    padding-right: 7px;
    /*there was no padding right it was just added*/
    font-size: 25px;
    /*it was 32*/
}

.courseLiContainer
{
    display: table;
    table-layout: fixed;
    width: 100%;
}

.dashContainer,
.labelContainer,
.labelContainerAchievements,
.separatorBlock,
.separatorBlockAchievements,
.gridContainer,
.gridContainerAchievements,
.statsValueContainer,
.statsValueContainerAchievements,
.imageContainer
{
    display: table-cell;
    vertical-align: middle;
}

.labelContainerAchievements
{
    width: 175px;
    /*border: 0px solid red;*/
}

.dashContainer
{
    /*border: 0px solid blue;*/
    width: 34px;
}

.gridContainerAchievements
{
    /* margin-right:0; */
    text-align: center;
    /*border: 0px solid green;*/
    width: 50px;
}

.statsValueContainer
{
    /*padding-right:15px;*/
    /*border: 0px solid black;*/
    width: 50px;
    text-align: center;
    padding-right: 15px;
}

.separatorBlockAchievements
{
    width: 6px;
    /*border: 0px solid black;*/
}

.achievementsImg
{
    vertical-align: middle;
    font-size: 38px;
    /*border: 0px solid red;*/
}

.feedbackIcon
{
    padding: 8px;
}

/*
.radialCourses
{
    background: -webkit-radial-gradient(-94px 25px, circle closest-corner, #ba996e, transparent 100px);
}
*/

.courseContainer
{
    height: 45px;
    line-height: 45px;
}

.separatorContainerCourses
{
    margin-top: 4px;
    margin-bottom: 4px;
    border-left: solid 1px #b3b2b2;
    height: 30px;
    line-height: 30px;
    width: 12px;
    text-align: right;
}

.separatorContainerLMS
{
    /*display:inline-block;*/
    border-left: solid 1px #b3b2b2;
    height: 20px;
    line-height: 41px;
    width: 9px;
    text-align: right;
    margin-top: 4px;
    margin-bottom: 4px;
}
.shadowedLi
{
    height: 20px;
}
