.headercontent {
    font-size: 22px;
}

input {
    pointer-events: none;
}

@media
  (orientation: portrait) {

    .contentbox {
        padding-top: 82px;
    }

    .headerbox {
        padding-top: 20px;
    }
}
